body {
    min-width: 400px;
    background-color: #FFFFFF;
}
button {
    background: none;
    color: #487D8E;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.top-row {
    background: linear-gradient(to right, #019CEE 0%, #01CB1C 100%);
    padding: 4px 8px;
    margin: -8px -8px 12px;
}
h1 {
    font-size: 20px;
    color: white;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px
}
input {
    flex: 1;
}
.explanation-text {
    color: #808080;
    margin-top: -12px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: -8px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
li>p {
    font-weight: bold;
    font-size: 14px;
}
.jobs-hidden {
    font-weight: bold;
    font-size: 16px;
}
.jobs-hidden span {
    font-weight: bold;
}